<div class="ui text container">
  <h1 class="ui dividing header">Messages</h1>

  <p>
    <ul class="ui list">
      <% @messages.each do |message| %>
        <li><%= link_to message.title, message %></li>
      <% end %>
    </ul>
  </p>
</div>
