<article class="comment" data-user-id="<%= comment.user.id %>">
  <div class="content">
    <a class="author"><%= comment.user.name %></a>
    <div class="metadata">
      <span class="date"><%= l comment.created_at, format: :short %></span>
    </div>
    <div class="text">
      <%= comment.content %>
    </div>
  </div>
</article>
