<section id="comments" class="ui comments" data-channel="comments" data-message-id="<%= message.id %>">
  <h3 class="ui dividing header">Comments</h3>
  <%= render message.comments %>
</section>

<%= render 'comments/new', message: message %>
