<%= form_for [ message, Comment.new ], remote: true, html: { class: 'ui form' } do |form| %>
  <div class="field">
    <%= form.text_area :content %>
  </div>
  <%= form.submit 'Post comment', class: 'ui button' %>
<% end %>
