<div class="ui text container">
  <h1 class="ui dividing header">Documents</h1>

  <p>
    <ul class="ui list">
      <% @documents.each do |document| %>
        <li><%= link_to document.title, edit_document_path(document) %></li>
      <% end %>
    </ul>
  </p>
</div>
